/* contact page css start here */
.map{
    margin-block: 50px;
    color: #ffff;
    
}
.contact-form .container{
    position: relative;
}
.map .container{
    border: 1px solid #ffff;
    padding: 10px;
    position: relative;
}
.attched-object{
    text-transform: capitalize;
    border: 1px solid #ffff;
    padding:10px;
    position: absolute;
    width: 20%;
    left: 40%;
    top:-24px;
    background: var(--main-bg) !important;
    text-align: center;

}
.location{
    padding: 20px;
}
.contact-page{
    margin-block: 40px;
}
.pv-page{
    text-align: center;

}
/* contact page css end here */
/* 404 page css start here */
.main404{
    text-align: center;
    padding-block: 200px;
}
/* 404 page css end here*/